body {
  background-color: grey;
}

ul {
  display: inline-block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 2em;
  color: black;
}

li:hover {
  background-color: black;
}

a:hover {
  color: white;
}

a:active {
  padding-left: 20px;
  padding-right: 20px;
}